<div class="container">

    <div class="grid">

        <div class="row">

            <div class="span12">
                <h1>
                    <a href="#/index"><i class="icon-arrow-left-3 smaller"></i></a>
                    Requisição de Compra<small class="on-right"></small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="span4">

                <!--<div class="title">Materia Prima #</div>-->

                <table>
                    <tr>
                        <td>
                            <div class="input-control radio">
                                <label ng-repeat="(index, value) in cuts" ng-click="cut = value.id">
                                    <input type="radio" name="c1" />
                                    <span class="check"></span>
                                    {{value.description}}
                                </label>   
                            </div>
                        </td>
                        <td>
                            <div class="input-control radio">
                                <label ng-repeat="(index, value) in laminations" ng-click="material.lamination = value.id">
                                    <input type="radio" name="r1" />
                                    <span class="check"></span>
                                    {{value.description}}
                                </label>   
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><label>Tratamento</label></td></tr>
                    <tr>
                        <td colspan="2">
                            <div class="input-control select">
                                <select>
                                    <option ng-repeat="(index, value) in treatments" ng-click="material.treatment = value.id">{{value.description}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><label>Espessura</label></td></tr>
                    <tr>
                        <td>
                            <div class="input-control select">
                                <select>
                                    <option ng-repeat="(index, value) in thicknesses" ng-click="material.thickness = value">{{value | number:2}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text">
                                <input type="number" placeholder="digite a espessura do material" ng-model="material.thickness" />
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><label>Largura (mm)</label></td></tr>
                    <tr>
                        <td>
                            <div class="input-control select">
                                <select>
                                    <option ng-repeat="(index, value) in widths" ng-click="material.width = value">{{value}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text">
                                <input type="number" placeholder="digite a largura do material" ng-model="material.width" />
                            </div>
                        </td>
                    </tr>                    
                    <tr ng-show="type=1"><td colspan="2"><label>Comprimento (mm)</label></td></tr>
                    <tr ng-show="type=1">
                        <td>
                            <div class="input-control select">
                                <select>
                                    <option ng-repeat="(index, value) in lengths" ng-click="material.length = value">{{value}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="input-control text">
                                <input type="number" placeholder="para chapa, digite o comprimento do material" ng-model="material.length" />
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"></td></tr>
                    <tr>
                        <td><label>Peso</label></td>
                        <td>
                            <div class="input-control text">
                                <input type="number" placeholder="digite o peso" ng-model="item.weight" />
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"></td></tr>
                    <tr>
                        <td><label>Data Entrega</label></td>
                        <td>
                            <div class="input-control text">
                                <input type="date" placeholder="digite a data para entrega" ng-model="item.date" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button ng-click="add(item)"><i class="icon-arrow-right" style="padding-right: 5px"></i>Incluir</button>
                            <button ng-click="submit()"><i class="icon-thumbs-up" style="padding-right: 5px"></i>Enviar Requisição</button>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="span8">

                <div class="title">Items da Requisição #</div>

                <table class="table">
                    <thead>
                        <tr>
                            <th id="lamination">Laminação</th>
                            <th id="treatment">Tratamento</th>
                            <th id="thickness">Espessura</th>
                            <th id="width">Largura</th>
                            <th id="length">Comprimento</th>
                            <th id="standard">Norma</th>
                            <th id="weight">Peso</th>
                            <th id="date">Entrega</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in request.items">
                            <td>{{item.material.lamination}}</td>
                            <td>{{item.material.treatment}}</td>
                            <td>{{item.material.thickness}}</td>
                            <td>{{item.material.width}}</td>
                            <td>{{item.material.length}}</td>
                            <td>{{item.material.standard}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.date}}</td>
                            <td>
                                <!--<button class="button small bg-transparent" ng-click="edit(item)">
                                    <i class="icon-pencil"></i>
                                </button>-->
                                <button class="button small bg-transparent" ng-click="remove(item)">
                                    <i class="icon-cancel-2 small"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>		

</div>
